@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "form/_checkbox-radio-switch.css";
@import "form/_form.css";

@import "_app.css";
@import "_button.css";
@import "_tiles.css";
@import "_colors.css";
@import "_blueMarble.css";
@import "_homeBillingInfo.css";

 @font-face {
  font-family: "MaisonNeue-Thin";
  src: url("/fonts/MaisonNeue/MaisonNeue-Thin.otf");
}
@font-face {
  font-family: "MaisonNeue-Light";
  src: url("/fonts/MaisonNeue/MaisonNeue-Light.otf");
}
@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue/MaisonNeue-Book.otf");
}
@font-face {
  font-family: "MaisonNeue-Medium";
  src: url("/fonts/MaisonNeue/MaisonNeue-Medium.otf");
}
@font-face {
  font-family: "MaisonNeue-medium";
  src: url("/fonts/MaisonNeue/MaisonNeue-Medium.otf");
}
@font-face {
  font-family: "MaisonNeue-Demi";
  src: url("/fonts/MaisonNeue/MaisonNeue-Demi.otf");
}
@font-face {
  font-family: "MaisonNeue-Bold";
  src: url("/fonts/MaisonNeue/MaisonNeue-Bold.otf");
}
@font-face {
  font-family: "MaisonNeue-Black";
  src: url("/fonts/MaisonNeue/MaisonNeue-Black.otf");
}
